{% extends 'main/base.html' %}
{%  block title %}Shop items{% endblock %}
{% block content %}

    <div class="item-list">
    {% if items %}
        {% for item in items %}
            <div class="item">
                <a class="profile-link" href="{% url 'item' item.id %}">
                    <div class="m-3 item-head">
                        <div>
                            <img src="{{ item.icon.url }}" width="100px" height="100px" alt="Item picture">
                        </div>
                        <div class="item-name">
                            <i>{{ item.name }}</i>
                        </div>
                    </div>
                </a>
                <div class="comment-list">
                    {% for comment in item.comments.all %}
                        <div class="comment">
                            <div class="comment-author">
                                {{ comment.owner.username }}
                            </div>
                            <div>
                                {{ comment.text }}
                            </div>
                            <div class="comment-date">
                                {{ comment.created_at }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <form action="{% url 'add_comment' %}" method="post">
                        {% csrf_token %}
                        {# Todo прикрутить WYSIWYG редактор #}
                        <input type="number" name="item" hidden value="{{ item.id }}">
                        <input type="number" name="shop_id" hidden value="{{ item.shop.id }}">
                        <div>
                            <textarea
                                    name="text"
                                    autocomplete="on"
                                    id=""
                                    cols="30"
                                    rows="2"
                                    placeholder="Comment text"></textarea>
                        </div>
                        <div class="item-reactions">
                            <div>
                                {% if item in user.likes.all %}
                                    <a class="item-like-pushed" href="{% url 'dislike' item.id %}">
                                        <span class="fas fa-heart"></span>
                                    </a>
                                {% else %}
                                    <a class="item-like" href="{% url 'like' item.id %}">
                                        <span class="far fa-heart"></span>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="item-like-counter">
                                {{ item.like_counter }}
                            </div>
{#                            <div class="item-comment">#}
{#                                <i class="far fa-comment"></i>#}
{#                            </div>#}
                            <div>
                                <button class="btn btn-primary">
                                    Add comment
                                </button>
                            </div>
                        </div>
                        {% if message %}
                            <p>
                                <b>{{ message }}</b>
                            </p>
                        {% endif %}
                    </form>
                </div>
            </div>
            <br>
        {%  endfor %}
    {% else %}
        For some reason, there are no products in this store.
    {%  endif %}
    </div>


{% endblock %}
