{% extends 'main/base.html' %}
{%  block title %}Main{% endblock %}
{% block content %}

    <div class="center">
        <div class="about-block main-page-text">
            <p>
                Food shopping website developed by Karim Valeev in 2021
                for a semester project in the second year of study at ITIS using Django.
            </p>
            <p>
                You can visit my <a href="https://github.com/Karim-Valeev">Github profile</a>.
            </p>
            <p>
                And MyFoods <a href="https://github.com/Karim-Valeev/django-myfoods">public repo</a>.
            </p>
        </div>
    </div>

{% endblock %}
