{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>

    <link rel="shortcut icon" href="{% static "main/img/shopping-basket.png" %}">


    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/switch.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/html_elements_styles.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/c26cfddc1e.js" crossorigin="anonymous"></script>

    <script src="{% static "main/js/script.js" %}"></script>

</head>
<body>
    <header>
        <div class="header">
            <div class="navigation">
                <div class="navigation-element">
                    <a class="navigation-element-link" href="{% url 'main' %}">
                        Home
                    </a>
                </div>
                <div class="navigation-element">
                    <a class="navigation-element-link" href="{% url 'about' %}">
                        About
                    </a>
                </div>
                <div class="navigation-element">
                    <a class="navigation-element-link" href="{% url 'shops' %}">
                        Shops
                    </a>
                </div>
                <div class="navigation-element">
                    <a class="navigation-element-link" href="{% url 'sales' %}">
                        Sales
                    </a>
                </div>
            </div>
            <div class="main-title">
                <a class="main-title-link" href="{% url 'main' %}">
                    MyFoods
                </a>
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                    <span class="profile-text">
                        <a class="profile-link" href="{% url 'profile' %}">{{ user.username }}</a>
                    </span>
                {% else %}
                    <div>
                        <span class="profile-text"><a class="profile-link" href="{% url 'login' %}">Login</a></span>
                        <span class="profile-text"><a class="profile-link" href="{% url 'register' %}">Register</a></span>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>

    {% block content %}
        Content
    {% endblock %}

</body>
</html>
