{% extends 'main/base.html' %}
{%  block title %}Main{% endblock %}
{% block content %}

{#    <div class="main-page-text">#}
{#        MAIN PAGE WITH BEAUTIFUL FRONTEND#}
{#    </div>#}
{##}
{#    <div class="main-page-text">#}
{#        There will be some info about us in the future#}
{#    </div>#}

    <div class="center main-page-text">
        {% if user.is_authenticated %}
            <div>
                <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
            </div>
        {% else %}
            <div>
                <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login!</a>
            </div>
        {% endif %}
    <div>or</div>
        <div>
            <a class="btn btn-primary" href="{% url 'register' %}" role="button">Register!</a>
        </div>
    </div>


{% endblock %}
