.header{
    border-bottom: solid #b6bfff;
    display: flex;
    align-items: center;
}

.navigation{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.navigation-element{
    font-size: 15px;
    margin-left: 10px;
}

.navigation-element-link{
    color: black;
    text-decoration: none!important;
}

.navigation-element-link:hover{
    color: #b6bfff;
}

.main-title{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-title-link{
    font-size: 30px;
    font-family: 'Merienda', cursive;
    color: black;
    text-decoration: none!important;
}

.main-title-link:hover{
    color: black;
}

.profile {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-text{
    font-size: 15px;
    margin-right: 10px;
}

.profile-link{
    color: black;
    text-decoration: none!important;
}

.profile-link:hover{
    color: #b6bfff;
}
