.center{
    text-align: center;
}

.main-page-text{
    margin-top: 50px;
    font-size: 20px;
}

.about-block{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.reg-title{
    margin-top: 2.5rem;
}

.top-margin-10px{
    margin-top: 10px;
}

.top-margin-20px{
    margin-top: 20px;
}

.top-margin-50px{
    margin-top: 50px;
}

.left-margin-10px{
    margin-left: 10px;
}

.login-form{
    width: 25%;
}

.fav-categories{
    margin: 10px 0 10px 0;
    padding: 5px;
    border: #b6bfff 1px solid;
    display: inline-block;
}

.profile-page-block{
    margin-top: 10px;
    margin-left: 10px;
}

.content-block{
    margin-top: 10px;
    margin-left: 10px;
}

.sales-page-list{
    margin-top: 10px;
}

.sales-page-list-element{
    margin: 10px 0 10px 0;
}

.bold{
    font-weight: bold;
}

.item-list{
    display: flex;
}

.item{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: #b6bfff 1px solid;
}


.item-head{
    align-items: center;
    display: flex;
}

.item-name{
    margin-left: 10px;
    font-size: 30px;
}

.item-name-href{
    text-decoration:none
}

.comment-list{
    border: #b6bfff 1px solid;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 110px;
    overflow: auto;
}

.comment{
    border: #b6bfff 1px solid;
    margin: 5px;
    padding: 5px;
    font-style: italic;
}

.comment-author{
    font-weight: bold;
}

.comment-date{
    font-size: smaller;
    font-weight: bold;
}

.category{
    margin: 10px;
}

.item-reactions {
    display: flex;
}

.item-like{
    font-size: 30px;
    background-color: white;
    border: none;
    text-decoration: none;
    padding: 2px;
    text-align: center;
    color: #b6bfff;
}

.item-like-pushed{
    font-size: 30px;
    background-color: white;
    border: none;
    text-decoration: none;
    padding: 2px;
    text-align: center;
    color: red;
}

.item-comment{
    font-size: 30px;
    background-color: white;
    border: none;
    text-decoration: none;
    padding: 2px;
    text-align: center;
    color: #b6bfff;
}

.item-like-counter {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    color: #b6bfff;
}

.error-message{
    margin-top: 10px;
    color: #ff001d;
}

.font-16px{
    font-size: 16px;
}

