{% extends 'main/base.html' %}
{%  block title %}{{ basket.name }}{% endblock %}
{% block content %}

    <div class="content-block">
        <h2>
            Basket: {{ basket.name }}
            {% if basket.favourite %}
                <span class="fa fa-star"></span>
            {%  else %}
                <span class="fa fa-star-o"></span>
            {% endif %}
        </h2>
        <div class="left-margin-10px">
            <li>
                Delivery address: {{ basket.delivery_address }}
            </li>
            <li>
                Status: {{ basket.status.name }}
            </li>
            <li>
                Creation date: {{ basket.created_at }}
            </li>
        </div>

{#        <p>#}
{#            There is no items yet.#}
{#        </p>#}
    </div>

{% endblock %}
